{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint-config-airbnb-typescript","plugin:@typescript-eslint/recommended"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module", "project": "./tsconfig.json" },
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["import"],
  "rules": {
 "react/jsx-filename-extension": [0],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
