.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-pagination-options{
  display: none;
}


.mainContainer{
  /*background: rgb(238,174,202);*/
  /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(225,176,206,1) 0%, rgba(219,202,214,1) 5%, rgba(148,187,233,1) 100%);*/
  width:100%;
  min-height: 100vh;
  margin:auto;
  padding: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 .spellListGrid{
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 2em;
}


/*for mobile screen*/
@media only screen and (min-device-width: 480px){
  .mainContainer{
    width:100%;
    min-height: 100vh;
  }

}

@media only screen and (min-width: 600px) {
  .mainContainer{
    width:100%;
    min-height: 100vh;
  }

}

/*for tablets screen*/

@media only screen and (min-device-width: 768px){
  .mainContainer{
    width:100%;
    min-height: 100vh;
  }
}

